body{
    margin: 0;
    }
    .nav{
        background-color: rgb(71, 63, 42);
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav .contato{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .nav img{
        height: 100%;
    }
    .nav a{
        text-decoration: none;
        font-size: 24px;
        color: aliceblue;
    }
    .menu{
        width: 100%;
        height: 4vh;
        background-color: rgb(121, 112, 99);
    }
    .menu .link{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .menu a{
        text-decoration: none;
        font-size: 24px;
        color: white;
        font-weight: bold;
    }

.titulo {
    color: rgb(38, 129, 77);
    text-align: center;
    width: 100%;
    height: 6vh;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2vh;
}

.titulo img {
    opacity: 40%;
    width: 40%;
}

.texto {
    width: 80%;
    margin: auto;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
}